<html>
<head>
    <title>res.render() Demo</title>
</head>
<body>
    <div class="container">
        {{{body}}}
    </div>
    
    
      <script>
        rickroll();
      </script>
</body>
</html>